RewriteEngine ON

ErrorDocument 404 /dubaibestcleaning/views/error/404.php

#for admin

RewriteRule ^admin?$ admin/index.php
RewriteRule ^admin/login?$ admin/views/pages/auth/auth.php
RewriteRule ^admin/technical-services?$ admin/views/pages/technical-services/technical-services.php
RewriteRule ^admin/cleaning-services?$ admin/views/pages/cleaning-services/cleaning-services.php
RewriteRule ^admin/painting-services?$ admin/views/pages/painting-services/painting-services.php
RewriteRule ^admin/edit-service/([0-9]+) admin/views/pages/edit-service/edit-service.php?id=$1
RewriteRule ^admin/featured-services?$ admin/views/pages/featured-services/featured-services.php
RewriteRule ^admin/add-service?$ admin/views/pages/add-service/add-service.php
RewriteRule ^admin/contact?$ admin/views/pages/contact/contact.php
#RewriteRule ^admin/paid-order?$ admin/views/pages/paid-order/paid-order.php

RewriteRule ^home?$ index.php 
RewriteRule ^contact?$ views/pages/contact/contact.php
RewriteRule ^review?$ views/pages/review/review.php

RewriteRule ^([a-z0-9A-Z_]+)/([a-z0-9A-Z_]+)$ views/pages/service/service-details.php?category_name=$1&service_title=$2






<IfModule mod_expires.c>
ExpiresActive On

# Images
ExpiresByType image/jpeg "access plus 1 minute"
ExpiresByType image/gif "access plus 1 minute"
ExpiresByType image/png "access plus 1 minute"
# ExpiresByType image/webp "access plus 1 year"
# ExpiresByType image/svg+xml "access plus 1 year"
# ExpiresByType image/x-icon "access plus 1 year"

# Video
# ExpiresByType video/mp4 "access plus 1 year"
# ExpiresByType video/mpeg "access plus 1 year"

# CSS, JavaScript
ExpiresByType text/css "access plus 1 minute"
ExpiresByType text/javascript "access plus 1 minute"
ExpiresByType application/javascript "access plus 1 minute"

# Others
# ExpiresByType application/pdf "access plus 1 month"
# ExpiresByType application/x-shockwave-flash "access plus 1 month"

</IfModule>


Options All -Indexes
# RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
# RewriteRule ^ /%1 [NC,L,R]

# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^ %{REQUEST_URI}.php [NC,L]